body {
  overflow: clip;
  background: linear-gradient(180deg, #fbf9eb 0 55%, #f1eed6 55% 70%, #fbf9eb 70% 100%);
}

img,
div {
  position: absolute;
  inset: 0;
  margin: auto;
}

.shadow {
  width: 150px;
  height: 150px;
  top: 190px;
  border-radius: 100px;
  background-color: #e6e1bb;
  transform: scale(1.0, 0.2);
}
